<h1><%= @club.name %></h1>
<h2><%= @club.description%></h2>

<% if logged_in? %>

  <% if @club.leader_id == @user.id %>

    <%= link_to "Edit club", edit_club_path(@club)%>

  <%elsif @club.find_membership(@user.id)%>

    <%= form_for @membership do |f| %>
      <%= f.hidden_field :club_id, value: @club.id%>
      <%= f.hidden_field :user_id, value: @user.id%>
      <%= f.submit "Leave Club"%>
    <%end%>


  <%else%>
    <%= form_for @membership do |f| %>
      <%= f.hidden_field :club_id, value: @club.id%>
      <%= f.hidden_field :user_id, value: @user.id%>
      <%= f.submit "Join Club"%>
    <%end%>
  <%end%>

<% else %>
<%= link_to "Log in or sign up to join this club", login_path%>
<% end %>
<br>
<label>Leader:</label>
<%=link_to @club.leader.full_name, user_path(@club.leader)%> <br>


<label>Members:</label>
    <ul>
        <% @club.users.each do |user| %>
            <li><%=link_to user.full_name, user_path(user)%></li>
    <%end%>
</ul>

<label>Current book: </label><%= @club.book.title %> by <%= @club.book.author_name %>
<br>
<img src=<%=@club.book.img_url%>>