<h1><%=@user.full_name%></h1>

<label>Username:</label>
<%=@user.username%>

<br>

<label>Leader of:</label>
<%@user.lead_clubs.each do |club|%>
    <%=link_to club.name, club_path(club)%><br>
<%end%>

<br>

<label> Member of </label>
<table>
    <tr>
        <th>Club Name</th>
        <th>Currently Reading</th>
    </tr>
    <% @user.clubs.each do |club|%>
    <tr>
        <td><%=link_to club.name, club_path(club)%></td>
        <td><%=club.book.title%></td>
    </tr>
    <%end%>
</table>
