<h1>Analytics</h1>

<label>BOOKCLUB! currently has <%= @users.length %> users in <%= @clubs.length %> clubs,
with an average of <%= @clubs.avg_num_of_users%> members per club.</label>
<br><br>
<label>In total, <%= @books.length %> books have been read/are being read in clubs on BOOKCLUB!</label>
<br><br>
<label>The most popular genre on BOOKCLUB! is <%= @books.most_popular_genre%>.</label>
