<!DOCTYPE html>
<html>
  <head>
    <title>BOOKCLUB!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div class="topnav">

      <% if logged_in? %>
      <p>Welcome <%= @user.full_name %> <%=link_to "Log Out", logout_path, method: :delete%>
      </p>
      <% else %>
      <p>You are not logged in! <%=link_to "Log In", login_path%></p>
      <%end%>

    </div>
    
    <%= yield %>
  </body>
</html>
