<!DOCTYPE html>
<html>
  <head>
    <title>BOOKCLUB!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
   <link rel="stylesheet" href="https://edwardtufte.github.io/tufte-css/tufte.css" type="text/css">  </head>

  <body>
    <nav>

      <%= link_to "BOOKCLUB!", '/'%> 
      <%= link_to "Browse Book Clubs", clubs_path%>
      <%= link_to "Create New Book Club", new_club_path%>
      


     

      <% if logged_in? %>
      <a>Welcome <%= @user.full_name %> </a>
      <%=link_to "Log Out", logout_path, method: :delete%>
      
      <% else %>
      <a>You are not logged in!</a> 
      <%=link_to "Log In", login_path%>
      <%end%>

      

    </nav>

    <%= yield %>
  </body>
</html>
